.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.buttons-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.button {
  border: solid 1px black;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}